* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

	line-height: 1.5;
	/* min-height: 100vh; */
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* background-color: var(--c-bg-primary); */
	/* color: var(--c-text-primary); */
}

button {
	font: inherit;
	cursor: pointer;
	&:focus {
		outline: 0;
	}
}