.profile-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрирование содержимого по горизонтали */
  /* background-color: #f9f9f9; */
}

.profile-container h2 {
  font-size: 24px;
  font-weight: 600;
  color: #2F2D3B;
  margin-bottom: 20px; /* Отступ снизу */
}
