.tasks {
    height: 700px;
    overflow-y: auto;
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 50vh; */
    overflow: hidden;
}

/* .tasks::-webkit-scrollbar {
    width: 8px;
}

.tasks::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.tasks::-webkit-scrollbar-thumb:hover {
    background-color: #555;
} */
