.task {
    height: 460px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 80px;
    background-color: #f9f9f9;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Тень для объема */
}

.task ul {
    list-style: none;
  padding: 0;
  margin: 0;
}

.task li {
    background-color: #f9fafb; /* Нежный цвет карточек */
  border-radius: 12px;
  margin-bottom: 15px;
  padding: 20px;
  transition: background-color 0.3s ease, transform 0.3s ease; /* Плавный переход */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05); /* Легкая тень */
}

.task p {
    font-size: 1em;
  margin: 8px 0;
  line-height: 1.6;
  color: #4a5568; /* Темный серый цвет текста */
}

.task p strong {
    display: inline-block;
    width: 200px;
    color: #333;
}

.task p:last-child {
    margin-bottom: 0;
}

.complete-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
}

.complete-button:hover {
    background-color: #218838;
}

.cancel-button {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.cancel-button:hover {
    background-color: #c82333;
}
