/* Стили для стильного и энергичного календаря */
.custom-calendar {
  border: 1px solid #f5a623;
  border-radius: 14px;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.18);
  background-color: #fff5e6;
  width: 100%;
  max-width: 430px;
  margin: auto;
}

/* Навигация */
.custom-calendar .react-calendar__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}

.custom-calendar .react-calendar__navigation__label {
  font-size: 20px;
  font-weight: 700;
  color: #f5a623;
}

.custom-calendar .react-calendar__navigation__arrow {
  color: #f5a623;
  font-size: 22px;
  cursor: pointer;
  transition: color 0.3s ease;
}

.custom-calendar .react-calendar__navigation__arrow:hover {
  color: #e89e24;
}

/* Ячейки календаря */
.custom-calendar .react-calendar__tile {
  border-radius: 8px;
  transition: background-color 0.3s ease;
  padding: 12px;
  font-size: 16px;
  color: #e89e24;
}

.custom-calendar .react-calendar__tile:hover {
  background-color: #ffebcc;
}

.custom-calendar .react-calendar__tile--active {
  background-color: #524022;
  color: #fff;
  font-weight: bold;
}

/* Текущий день */
.custom-calendar .react-calendar__tile--now {
  border: 3px solid #f5a623;
  border-radius: 50%;
}

/* Дни недели */
.custom-calendar .react-calendar__month-view__days__day {
  font-size: 16px;
  color: #e89e24;
}
