.schedule-content {
  display: flex;
  justify-content: space-between;
  /* align-items: center;  */
}

.employee-list-container,
.orders-of-employee,
.schedule-calendar-container{
  flex: 1; /* равномерное распределение ширины между дивами */
  /* margin: 0 10px;  */
  /* text-align: center;  */
}

.schedule-calendar-container h3 {
  text-align: center;
}






