.schedule-container {
  padding: 24px;
  background-color: #fff;
  min-height: 100vh;
}

.schedule-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.order-list-container {
  flex: 1;
  background-color: #f0f2f5;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: auto;
  width: 400px;
}

.calendar-container {
  /* flex: 1; */
  /* background-color: #f0f2f5; */
  /* border-radius: 8px; */
  padding: 16px;
  width: 300px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.h2-schedule {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.h3-schedule {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 12px;
}
